
.login-page {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #EAEFEF; */
    padding: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.login-container {
    background-color: white;
    padding: 3rem 0rem;
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    text-align: center;
}


.login-title {
    font-size: 2rem;
    color: #c62744;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin-bottom: 2rem;
    
}


.input-group {
    position: relative;
    margin-bottom: 1.5rem;
    max-width: 400px;
}

.input-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    color: #c62744;
}

.login-input {
    width: 100%;
    padding: 0.75rem 0.75rem 0.75rem 2.5rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: border 0.3s ease;
    font-size: 1rem;
}

.login-input:focus {
    border-color: #c62744;
    outline: none;
    box-shadow: 0 0 0 3px rgba(198, 39, 68, 0.15);
}


.login-button {
    background-color: #c62744;
    border: none;
    padding: 0.75rem;
    font-size: 1rem;
    border-radius: 8px;
    max-width: 400px;
    width: 50%;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #a31e38;
}

.login-button:disabled {
    background-color: #d57386;
    cursor: not-allowed;
}


.toggle-text {
    margin-top: 1.5rem;
    font-size: 0.95rem;
    color: #555;
    cursor: pointer;
    transition: color 0.3s;
}

.toggle-text:hover {
    color: #c62744;
}


.error-message {
    color: #c62744;
    font-size: 15px;
    margin-top: -1rem;
    margin-bottom: 1rem;
}
.login-form{
    max-width: 450px;
}